doctype html
html(lang="en")
	head
		title Notion Enhancer Tweaks demo
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="demo/notion-enhancer-tweaks-demo.css")

	body
		.light
			.gray Gray
			.brown Brown
			.orange Orange
			.yellow Yellow
			.green Green
			.blue Blue
			.purple Purple
			.pink Pink
			.red Red

			br

			.gray
				.bg Gray
			.brown
				.bg Brown
			.orange
				.bg Orange
			.yellow
				.bg Yellow
			.green
				.bg Green
			.blue
				.bg Blue
			.purple
				.bg Purple
			.pink
				.bg Pink
			.red
				.bg Red

		.dark
			.gray Gray
			.brown Brown
			.orange Orange
			.yellow Yellow
			.green Green
			.blue Blue
			.purple Purple
			.pink Pink
			.red Red

			br

			.gray
				.bg Gray
			.brown
				.bg Brown
			.orange
				.bg Orange
			.yellow
				.bg Yellow
			.green
				.bg Green
			.blue
				.bg Blue
			.purple
				.bg Purple
			.pink
				.bg Pink
			.red
				.bg Red


